.comment-container {
  position: absolute;
  box-sizing: border-box;
  width: 90%;
  background: #ffffff;
  border: 1px solid #aab3ff;
  box-shadow: 0px 0px 10px 3px rgba(170, 179, 255, 0.3);
  border-radius: 16px;
  padding: 10px;
 bottom: 20px;
}
.user-avatar img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.comment-content {
  flex: 1;
  overflow: auto;
}

.comment {
  background-color: #e0f7fa;
  padding: 10px;
  margin-top: 10px;
}

.reply {
  background-color: #f2f2f2;
  padding: 5px;
  margin-top: 5px;
}

.comment-input,
.reply-input {
  display: flex;
  margin-top: 10px;
}

.comment-input input,
.reply-input input {
  flex: 1;
  padding: 5px;
  margin-right: 10px;
}

.comment-input button,
.reply-input button {
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

