.button-container {
    position: absolute;
    top: 0px; /* 예시로 설정된 상단 여백, 필요에 따라 조정하세요 */
    right: 10px; /* 예시로 설정된 우측 여백, 필요에 따라 조정하세요 */
  }
  
  /* 버튼 스타일링 */
  .sizeButton,
  .colorButton,
  .highlightButton {
    margin-right: 5px; /* 각 버튼 간의 간격을 조절하세요 */
    padding: 5px 10px;
    cursor: pointer;
  }