.wrapper{
    display: flex;
    flex-direction: column;
 cursor: pointer;
width: 15vw;
align-items: center;
height: 42.5vh;
gap: 0px;

background: #FFFFFF;
border: 1px solid #ebebec;
border-radius: 1vw;

 @media only screen and (max-width: 440px) {
    width: 90vw;
    height: 500px;
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 }

}
.previewHeader{
    display: flex;
    margin-top: 5px;
    align-items: center;
    justify-content:start;
    gap: 7px;
    @media only screen and (max-width: 440px) {
        position: relative;
        top: 430px;
        gap: 20px;
    }

}
.profileCircle{
    /* Ellipse 831 */

box-sizing: border-box;
width: 2vw;
height: 4vh;
border: 1px solid #FFFFFF;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 1vw;
overflow: hidden;
}
.profileCircle img{
    width: inherit;
    height: inherit;
}
.likes{
    width: 1vw;
    height: 2vh;

}
.likes img{
    width: inherit;
    height: inherit;
}
.previewHeader span, .previewHeader b{
    font-size: 0.75vw;

}
.previewHeader b{
    color: rgb(18, 18, 18);
}
.previewHeader span{
    color: #868e96;
}
.previewBox{
    margin-top: 5px;
    box-sizing: border-box;
    width: 14.5vw;
    height: 27.5vh;

    border: 1px solid rgba(249, 247, 247, 0.03);
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow: hidden;

   
    @media only screen and (max-width: 440px) {
        margin-top: -29px;
        box-sizing: border-box;
        width: 87.5vw;
        height: 35vh;
        border-radius:24px;

     }

}
.previewBox img{
    width: inherit;
    height: inherit;
    
}
.card{
box-sizing: border-box;
width: 13vw;

display: flex;
flex-direction: column;
gap:5px;
align-items: center;
border: 1px solid rgba(249, 247, 247, 0.03);
backdrop-filter: blur(5px);
border-radius: 20px;
@media only screen and (max-width: 440px) {
    margin-top: 0px;
width: 57.5vw;
height: 150px;
backdrop-filter: none;
background: none;
/* Note: backdrop-filter has minimal browser support */
border-radius: 0px;
box-shadow: none;
gap: 5px;


}

}
.card h3{
width: 12.5vw;
font-family: 'Padauk';
font-style: normal;
font-weight: 700;
font-size: 0.75vw;
line-height: 15px;
display: flex;
align-items: center;

color: #000000;
@media only screen and (max-width: 440px) {
font-size: 1vw;
width: 79vw;
line-height: 25px;

}

}
.tags{
    display: flex;
    justify-content: center;
    gap: 5px;
    width: 100%;
    overflow: hidden;


}
.tags span{

    font-size: 0.5vw;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 15px;
    align-items: center;
    border-radius: 10px;
    border: #b3b3b3 1px solid;
    color: #b3b3b3;
}