

.container{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: stretch;
    background-color: #fff;

}
.postTabContainer{
    width: 100vw;
    display: flex;
    background: transparent;
    justify-content: center;
    background: #F6F6F6;

}
.postTab{
    position: relative;
    z-index: 1;
    margin-top: 70px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 20px;
    background: #1a1a1b; 

}
.postTab section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #ffffff;
}
.tabActive{
    position: absolute;
    left: 0;
    width: 100px;
    height: 50px;
    background: #868e96;
    border-radius: 30px;
    
}
.postTab section:hover{
    font-size: 14px;

}

.leftWrapper{
    display: flex;
    flex-direction: column;
}

.leftSection{
    width: 150px;
    padding: 0 8px;
    height: 100dvh;
  
}
.leftFixedSection{
    position: fixed;
    padding: 0 4px;
    width: inherit;
    background:#FFFFFF;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moduleLine{
    margin-top: -40px;
    width: 80%;
    height: 0;
 border-top: 1.5px solid #5065A8;
}

.mainWrapper{
    display: flex;
    align-items: flex-start;
    height: inherit;
    width: inherit;
    flex-direction: column;
}

.mainSectionInner{
    height: 100%;
    width: inherit;
    display: flex;

}
.main{
    width: 100%;
    height: 100%;
}
.meuBarSection{
    position: fixed;
    width: inherit;
  
    background: white;
    z-index: 99999;
    height: 60px;
}
.menuBarFixedSection{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}.LogoImg{

    width: 150px;
    height: 150px;
    object-fit: contain;
}
