

.container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: stretch;
    background-image: linear-gradient(68deg,#f7f3f4,#ffffff,#f6fefb);
    background-size: cover;

}

.leftWrapper{
    display: flex;
    flex-direction: column;
}

.leftSection{
    width: 30px;
    padding: 0 8px;
    height: 100dvh;
    overflow: hidden;
    @media only screen and (max-width: 800px) {
        position: absolute;
    }
  
}
.leftFixedSection{
    position: fixed;
    top: 100px;
    left: 0;
    width: inherit;
    height: 92dvh;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-basis: 240px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: left;
    z-index: 1;

}
.leftFixedSection div{
    text-decoration: none;
    color:  rgba(70, 70, 71, 0.78);
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    gap: 5px;
    font-size: 14px;
    border-radius: 6px;
    transition: 0.3s;
}
.leftFixedSection img{
    width: 20px;
    height: 20px;
}

.mainWrapper{
    display: flex;
    align-items: flex-start;
    height: inherit;
    width: 95vw;
    flex-direction: column;
    @media only screen and (max-width: 800px) {
        width: 100vw;
    }
}

.mainSectionInner{
    height: 100%;
    width: inherit;
    display: flex;
    @media only screen and (max-width: 800px) {
        width: inherit;
    }

}
.main{
    width: inherit;
    height: 100%;
    @media only screen and (max-width: 800px) {
        width: inherit;
    }
}
.meuBarSection{
    position: fixed;
    top: 0;
    width: inherit;
    z-index: 1;
    height: 60px;
    border-bottom: 1px solid rgba(113 119 144 / 25%);

}
.menuBarFixedSection{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.menuBtn{
    display: flex;
    margin-left: 10px;
    width: 102px;
    height: 30px;
    border-radius: 30px;
    justify-content: center;
    color: white;
    align-items: center;
    background: #2b2e3a;
    border: none;
    flex-direction: column;
}
.menuBtn div{
    position: absolute;
    width: 30px;
    height: 15px;
    overflow: hidden;
}
.menuBtn:hover{
    background: #e4e6ef;
    color:#2b2e3a;
    
}
.searchBar{
    height: 30px;
    display: flex;
    width: 100px;
    max-width: 400px;
    border-radius: 4px;
    gap: 20px;
    background: #2c3056;
    justify-content: center;
    align-items: center;
    color: #585872;
    transition: 0.5s;
}
.searchBar:hover{
    width: 120px;
    color: beige;
}
.iconSearch{
    background: url(../../asset/images/search.png);
    width: 20px;
    height: 20px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.LogoImg{

    width: 150px;
    height: 150px;
    object-fit: contain;
}
.profile_header{
    position: absolute;
    display: flex;
    right: 100px;
    align-items: center;
    gap: 20px;
    @media only screen and (max-width: 800px) {
        right: 30px;
        gap: 10px;
    }
    
}
.notification{

    background: url(../../asset/images/notification.png);
    width: 22px;
    height: 22px;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    @media only screen and (max-width: 800px) {
        width: 15px;
        height: 15px;
    }
}
.nickname{
 
}
.profileCircle{

    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid rgb(183, 181, 181)
}
.profileCircle img{
    border-radius: 30px;
    width: inherit;
    height: inherit;
    object-fit: cover;
}
.profileCircle:hover{
    border:2px solid greenyellow;
}
.dropdown{
    position: absolute;
    right: 30px;
    margin-top: 30px;
}
.dropdownButton{
width: 10px;
height: 10px;
background: url(../../asset/images/dropdown.png);
background-position: center center;
background-size: contain;
background-repeat: no-repeat;
border: none;
}
.dropMenu{
    position: absolute;
    overflow-wrap: break-word;
    background: rgba(225, 224, 224, 0.4);
    backdrop-filter: blur(15px);
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 1px 0px, rgba(0, 0, 0, 0.5) 0px 8px 20px 0px;
    color: rgb(201, 206, 220);
    font-family: "Sandoll Nemony2", "Apple SD Gothic NEO", "Helvetica Neue", Helvetica, 나눔고딕, NanumGothic, "Malgun Gothic", "맑은 고딕", 굴림, gulim, 새굴림, "noto sans", 돋움, Dotum, sans-serif;
    display: flex;
    flex-direction: column;
    top: calc(100% + 15px);
    right: 0;
    width: 200px;
    word-break: break-all;
    border-radius: 10px;
    overflow: hidden;

}
