@import url('https://fonts.googleapis.com/css2?family=Gaegu:wght@300&family=Noto+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
.moduleBackground{
    width: inherit;
    height: inherit;
    display: flex;
    overflow:hidden;

}
.innerContents{
    position: absolute;
    top: 12.5vh;
    width: inherit;
    height: inherit;
    justify-content: center;
}
.postTabContainer{
    position: absolute;
    margin-left: -2.5vw;
    width: 82.5vw;
    height: 25vh;
    display: flex;
    justify-content:left;
    align-items: center;
    background: #1F1F1F;
    overflow: hidden;
    border-radius: 20px;
    @media only screen and (max-width: 1200px) {
        left: 9vw;
        height: 20vh;
    }

}
.bestImage{
    position: absolute;
    top: -55px;
    left: 50vw;
    width: 20vw;
    gap: 70px;
    display: flex;
    flex-direction: column;
    rotate: 30deg;
    height: 40vh;
    @media only screen and (max-width: 1200px) {
      height: 20vh;
    }
    @media only screen and (max-width: 440px) {
        height:20vh;
        width: 10vw;

      }
}
.bestImage img{
    
    width: 20vw;
    height: 20vh;
    opacity: 60%;
}
.bestImage img:nth-child(2){
    position: absolute;
    top: 3vh;
    right: 12.5vw;
    rotate: -60deg;
    z-index: -1;
}
.bestImage img:nth-child(3){
    position: absolute;
    bottom: 15vw;
    left: 10vw;
    rotate: -60deg;
    z-index: -1;
}
.postTab{
position: absolute;
left: 10vw;
    margin-top: 17.5px;
    z-index: 1;
    width: 200px;
    height: 40px;
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    gap: 20px;
    background: #1a1a1b; 

}
.postTab section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    color: #ffffff;
}
.tabActive{
    position: absolute;
    left: 0;
    width: 100px;
    height: 40px;
    background: #8df041;
    border-radius: 30px;
    
}
.postTab section:hover{
    font-size: 14px;

}
.headerMenu{
    position: absolute;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 58px;
    flex-shrink: 0;

}
.headerMenu div{
    padding: 10px 25px;
    text-decoration: none;
    color: #D7FFB8;
    @media only screen and (max-width: 440px) {
        padding: 10px 7px;
       font-size: 10px;

      }
}
.collectionWrapper{
    position: absolute;
    display: flex;
    width: inherit;
    overflow-y:scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    height: 82.5vh;;
    margin-left: 2vw;
    scroll-behavior: smooth;
}   
.popularH3{
    position: absolute;
    top: 25vh;
    font-size: 22.5px;
    font-family: 'Nanum Gothic', sans-serif;
    color: #ffffff;
    font-weight: 400;
  
    vertical-align: top; 
    @media only screen and (max-width: 1200px) {
        top: 20vh;
      }
      @media only screen and (max-width: 800px) {
        top: 20vh;
        font-size: 18px;
      }
     
}


.collectionContainer{
    display: flex;
    justify-content: center;
    width: inherit;
}

.collection{
    margin-top: 34vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);;
    width: 100vw;
    height: 100%;
    @media only screen and (max-width: 1400px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25vh;
}

@media only screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
}

@media only screen and (max-width: 480px) {
    grid-template-columns: 1fr;
}

}

.wrapper,.singlecard{
    height: 45vh;
    max-width: 300px;
    @media only screen and (max-width: 1200px) {

    }
}
.wrapper{
    perspective: 900px;

}
.previewBox{
    box-sizing: border-box;
align-items: center;
display: flex;
flex-direction: column;
width: 18vw;
height:40vh;
border-radius: 16px;
background: #d5d5d586;
@media only screen and (max-width: 1400px) {
    width: 24vw;
    height: 45vh;
}
@media only screen and (max-width: 1200px) {
    width: 40vw;
    height: 40vh;
}
@media only screen and (max-width: 800px) {
    width: 38vw;
}
@media only screen and (max-width: 480px) {
    width: 76.5vw;
}

/* main color */
/* box-shadow: 0px 0px 25px 7px rgba(170, 179, 255, 0.3);
border-radius: 16px; */
    transition: all 1.5s cubic-bezier(0.7, -.5, 0.3, 1.8);
    transform-style: preserve-3d;
}

.wrapper:hover .previewBox{
    transform: rotateY(180deg);

}
.front,.back{
    width: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.front{
     cursor: pointer;
     height: 100%;
     backface-visibility: hidden;
     border-radius: 16px;
}
.front img{
    position: absolute;
    top: 0;
    width: 100%;
    height: 20vh;
border-radius: 16px 16px 0px 0px;


}
.back{
    position: absolute;
    transform: rotateY(180deg);
    width: 100%;
    height: 100%;
    border-radius: 16px;
    background: #fff;
}
.back img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.front h3{
    position: absolute;
    top: 23vh;
    font-size: 1vw;
    font-weight: 600;
    line-height:1.5;
    width: 85%;
    font-family: 'Gaegu', sans-serif;
}

.content{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: rgba(90, 88, 88, 0.667);
    backdrop-filter: blur(16px) saturate(120%);
    justify-content: center;
    align-items: center;
    border-radius: 16px;
}
.content h3{
    position:absolute;
    top: 20px;
    font-size: 1vw;
    font-weight: 600;
    line-height:1.5;
    color: #b3b3b3;
    width: 85%;
    font-family: 'Gaegu', sans-serif;
}
.tags{
    position: absolute;
    top: 120px;
    display: flex;
    gap: 10px;
    width: 100%;
    margin-left: 20px;
    

}
.tags span{
    width: 60px;
    font-size: 12px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 20px;
    align-items: center;
    border-radius: 15px;
    border: #b3b3b3 1px solid;
    color: #b3b3b3;
}
.content p{
    position: absolute;
    top: 200px;
    color: #b3b3b3;
    width: 85%;
    height: 5px;
    font-size: 11px;
    margin: 0 0 50px;
    font-family: 'Noto Sans KR', sans-serif;
}
.contentHeader{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 40px;
    border-top: 1px solid #f1f3f5;

}
.postBy{
    margin-left: 30px;
}
.contentHeader span, .contentHeader b{
    margin-left: 5px;
    font-size: 12px;
}
.contentHeader span{
    color: #868e96;
}
.profileCircle{
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
}
.profileCircle img{
    margin-left: 20px;
    width: 25px;
    height: 25px;
    border-radius: 12.5px;
}
.likes{
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 10vh;
    right: 15px;
}
.likes img{
    object-fit: contain;
}
.likesCount{
    position: absolute;
    right: 40px
}
