.container{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    background-color: #fff;
    width: 99dvw;
    height: 100dvh;
    scroll-behavior: smooth;
    @media only screen and (max-width: 800px) {
        flex-direction: column;
    }

   
}
.logo{
    position: absolute;
    width: 30vw;
    height: 30vw;
    @media only screen and (max-width: 800px) {
        width: 75vw;
        height: 75vw;
    }
}
.left{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.right h1{
    font-weight: bold;
    font-size: 3rem;
    margin: 48px 0;
    @media only screen and (max-width: 800px) {
        display: flex;
        justify-content: center;
        margin-top: -200px;
        font-size: 2rem;
    }
}
.right h2{
    font-weight: bold;
    font-size: 31px;
    margin-bottom: 32px;
    @media only screen and (max-width: 800px) {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }
}
.right h4{
    font-size: 17px;
    margin-bottom: 20px;
    margin-top: 40px;

    color: rgb(176, 176, 176);
    @media only screen and (max-width: 800px) {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
    }
}
.signup{
    width: 20vw;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 15px;
    background-color: #AAB3FF;
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

}
.signup:hover {
    background-color: #b0b5de;
}
.login{
    width: 20vw;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 15px;
    color: #AAB3FF;
    border: 1px solid rgb(207, 217, 222);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.login:hover {
    background-color: #cdcdcd;
    color: #ffffff;
}