.container{
    width: inherit;
    height: inherit;
    background: #F6F6F6;
}
.headerMenu{
    position: absolute;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 58px;
    flex-shrink: 0;
}
.headerMenu div{
    padding: 10px 25px;
    text-decoration: none;
    color: #7e7e80;
}