.container{
    width: inherit;
    height: inherit;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    width: 924px;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.top{
    display: flex;
    gap: 15px;
}
.myProfileContainer{
width: 540.66px;
height: 164.43px;
display: flex;
flex-direction: column;
background: linear-gradient(89.94deg, #D7F2F1 0.06%, #F8FFFF 37.64%);
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;

}
.profiletop{
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    gap: 20px;
}
.profileCircle{
width: 47px;
height: 47px;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
border-radius: 30px;
overflow: hidden;

}
.profileCircle img{
    width: inherit;
    height: inherit;
}
.info{
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.info b{
width: 97.15px;
height: 22.73px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 21px;
display: flex;
align-items: center;
text-align: center;

color: #4B4F50;


}
.info span{
width: 140.8px;
height: 22.73px;

font-family: 'Noto Serif Thai';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 11px;
display: flex;
align-items: center;
text-align: center;

color: #887ADC;


}
.profileBottom{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}
.exp{
margin-left: 50px;
width: 199.93px;
height: 2.67px;

background: #F3F5F6;
border-radius: 20px;

}
.exp div{

position: absolute;
width: 77.44px;
height: 2.67px;

background: #519CC2;
border-radius: 20px;

}
.profileBottom span{
width: 188.67px;
height: 29.41px;

font-family: 'Overpass';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #6C7373;


}

.alarmBox{
    width: 170px;
    height: 170px;
    display: flex;
    
    background: #FBB528;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    
    }
    .alarmBox img{
        margin-top: 5px;
        margin-left: 5px;
        width: 45px;
        height: 45px;
    }
    .alarmBox span{
    margin-left: 20px;
    width: 68px;
    height: 22px;
    justify-content: end;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    margin-top: 120px;
    text-align: center;
    
    color: #FFFFFF;
    
    }
    .messageBox{
        width: 170px;
        height: 170px;
    display: flex  ;
    background: #02C896;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    }
    .messageBox img{
        margin-top: 5px;
        margin-left: 5px;
        width: 45px;
        height: 45px;
    }
    .messageBox span{
        margin-left: 20px;
    width: 68px;
    height: 22px;
    justify-content: end;
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 120px;
    color: #FFFFFF;
    
    }
.bottom{
    display: flex;
    gap: 15px;
}
.privacyContainer{

width: 321.02px;
height: 195.17px;
background: #FAFFFE;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;
display: flex;
flex-direction: column;
}
.privacySettingBox{
    margin-top: 50px;
    margin-left: 20px;
    display: flex;
    gap: 20px;
}
.privacyBottom{
    margin-top: 50px;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}
.privacyBottom span{

font-family: 'Overpass';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
display: flex;
align-items: center;
text-align: center;

color: #65DB8D;


}
.setting{
width: 205.56px;
height: 195.17px;

background: #DDDDDD;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;

}
.privacySettingBox span{
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #B5B7B8;
}
.privacySetting{
width: 56.32px;
height: 20.05px;

background: #FFFFFF;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 20px;


}
.privacySetting div{
width: 21.12px;
height: 20.05px;

background: #5ED933;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}
.plannerSetting{
width: 353.4px;
height: 195.17px;

background: #FFFFFF;
box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 15px;

}