.postBackground{
    position: fixed;
    right: 0;
    height: 100%;
    width: 0px;
    background: rgba(246, 246, 246, 0.51);
    backdrop-filter: blur(20px);
    opacity: 95%;
    overflow-y: scroll;
    z-index: 9999;
}

.postContainer{
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.buttons{
position: absolute;
top: 10px;
width: 100%;
display: flex;
align-items: center;
gap: 10px;
height: 30px;
}
.closeBtn{
    width: 16px;
    height: 16px;
    margin-left: 20px;
    background: url("../../asset/images/exit.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
}
.fullScreenBtn{
    width: 16px;
    height: 16px;
    background: url("../../asset/images/fullscreen.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
}
.title{
    margin-top: 30px;
    margin-left: 70px;
    font-size: 15px;
}
.tagsContainer{
    position: absolute;
    top: 150px;
    margin-left: 70px;
    display: flex;
    gap: 10px;
    left: 0;
    color: #37352fa6;
}
.tagsContainer img{
    width: 15px;
    height: 15px;
}
.tagsIndex{
    display: flex;
}
.tagCircle{
    font-size: 13px;
    height: 15px;
    width: auto;
    border-radius: 15px;
    border: 1px solid #37352fa6;
    text-align: center;
    padding: 0 8px;
}
.postBy{
    position: absolute;
    display: flex;
    top: 190px;
    margin-left: 70px;
    gap: 10px;
    color: #37352fa6;
}
.postBy img{
    width: 15px;
    height: 15px;
}
.ScrabContainer{
    position: absolute;
    margin-top: 220px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    
}
.scrabBox{
    width: 95%;
    height: 95%;
    overflow-y: auto;
    text-indent: 20px;
    border: 2px dashed #AAB3FF;
}
.scrabBox div{
    width: 99.5%;
}
.scrabBox img{
    margin-left: 20%;
    width: 60%;
    
}
.postBoxContainer{
    position: absolute;
    margin-top: 702px;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    
}
.postBox{
    width: 95%;
    height: 500px;
    text-indent: 20px;
    border: 2px dashed #AAB3FF;
    border-top: none;
}
.likeBtn{
    position: absolute;
    top: 150px;
    right: 30px;
    width: 30px;
    height: 30px;
    border: none;
    background: none;
}
.likeBtn img{
    width: 30px;
    height: 30px;
    object-fit: contain;
}
.likeValue{
    position: absolute;
    top: 156px;
    right: 60px;
}
.footer{
    position: absolute;
    top: 1220px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
