.modalBackground {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
}
.searchContainer{
    width: 50vw;
    height: 40vw;
    border-radius: 30px;
    min-height: 40vh;
    overflow: hidden;
}
.searchBar{
    display: flex;
    border-top-left-radius:  30px;
    border-top-right-radius:  30px;
    height: 60px;
    align-items: center;
    border-bottom: 2px solid#9858f5;
}
.searchBar input{
    width: 85%;
    margin-left: 3vw;
    font-size: 1.1rem;
    height: 3vw;
    border: none;
    border-left: 2px solid #585872;
    text-indent: 3vw;
    outline: none;
    background: transparent;
    color:#e9e5e5;
    
}
.searchBar input::placeholder{
    color:#e9e5e5;
    
}
.iconSearch{
    position: absolute;
    right: 26.5vw;
    background: url(../../asset/images/searchFUll.png); 
    width: 3vw;
    height: 3vh;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    border: none;
}
.select{
    background: none;
    border: none;
    outline: none;
    color: #e9e5e5;
    border-bottom: 1px solid #b3b3b3;
}
.autoCompleteList{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.autoCompleteItem{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #b3b3b3;
    color: #e9e5e5;
    cursor: pointer;
}

.searchItem{
    position: absolute;
    width: 15vw;
    height: 20vh;
    border-radius: 20px;
    color: white;
    background-color: rgba(105, 104, 104, 0.4);
    border: 1px solid #b3b3b3;
    display: none;
}
.searchItem h3{
    color: #b3b3b3;
    font-size: 0.9rem;
    font-family: 'Gaegu', sans-serif;
}
.bestTags{
    position: absolute;
    display: flex;
    gap: 10px;
    

}
.bestTags span{
    width:auto;
    min-width: 40px;
    font-size: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 15px;
    align-items: center;
    border-radius: 10px;
    border: #b3b3b3 1px solid;
    color: #b3b3b3;
}
.postBy{
    position: absolute;
    bottom: 10px;
    margin-left: 5px;
}
.postBy span{
    color: #b3b3b3;
    font-size: 12px;
}
.postBy b{
    font-size: 13px;
}