.background{
    width: inherit;
    height: inherit;
    overflow-y: scroll;
}
.knowledgeLayout{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.headerMenu{
margin-top: 75px;
box-sizing: border-box;
width: 70vw;
height: 7.5vh;

border: 1px solid #DFDFDF;
border-radius: 15px;

}
.boardLayout{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap: 30px;
}
.board{

box-sizing: border-box;
width: 319px;
height: 800px;
border: 1px solid #DFDFDF;
border-radius: 20px;
overflow-y: scroll;

}
.board1{
    display: flex;
flex-direction: column;
align-items: center;
gap: 30px;
}
.board1 :nth-child(1){
width: 272px;
height: 306px;

background: linear-gradient(180deg, #C8DCFD 0%, #CFDFFC 30.5%, #D5E3FB 65.5%, #DDE7FA 98.5%);
border-radius: 20px;

}
.board :nth-child(2){
width: 272px;
height: 306px;

background: linear-gradient(180deg, #D1CBFD 0%, #D5CEFD 30.5%, #DAD4FB 65.5%, #E3DEFA 98.5%);
border-radius: 20px;

    
    }
.board :nth-child(3){
width: 272px;
height: 194px;

background: linear-gradient(180deg, #FDE3CA 0%, #FDE5CE 30.5%, #FEEBD9 65.5%, #FEEDDD 98.5%);
border-radius: 20px;

        
            
}
.board :nth-child(4){
width: 272px;
height: 194px;

background: linear-gradient(180deg, #C3F0FB 0%, #C9F1FA 30.5%, #D4F3F9 65.5%, #D9F4F9 98.5%);
border-radius: 20px;

            
                
}
.board :nth-child(5){
    width: 272px;
    height: 306px;
    
    background: linear-gradient(180deg, #C8DCFD 0%, #CFDFFC 30.5%, #D5E3FB 65.5%, #DDE7FA 98.5%);
    border-radius: 20px;
    
    }
    .board :nth-child(6){
    width: 272px;
    height: 306px;
    
    background: linear-gradient(180deg, #D1CBFD 0%, #D5CEFD 30.5%, #DAD4FB 65.5%, #E3DEFA 98.5%);
    border-radius: 20px;
    
        
        }
    .board :nth-child(7){
    width: 272px;
    height: 194px;
    
    background: linear-gradient(180deg, #FDE3CA 0%, #FDE5CE 30.5%, #FEEBD9 65.5%, #FEEDDD 98.5%);
    border-radius: 20px;
    
            
                
    }
    .board :nth-child(){
    width: 272px;
    height: 194px;
    
    background: linear-gradient(180deg, #C3F0FB 0%, #C9F1FA 30.5%, #D4F3F9 65.5%, #D9F4F9 98.5%);
    border-radius: 20px;
    
                
                    
    }